# Ignore .env file
.env

# Ignore shop directory
shop/
img/
ai/
imgs/

# 업로드된 이미지 파일 제외 (프로필 사진)
user/src/main/webapp/imgs/profiles/*

# YML 파일
application-dev.yml
application-pro.yml
# Local application configuration
/admin/src/main/resources/application.yml
/user/src/main/resources/application.yml
