<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.sm.app.repository.AlertLogRepository">

    <insert id="insert" parameterType="edu.sm.app.dto.AlertLog" useGeneratedKeys="true" keyProperty="alertId">
        INSERT INTO Alert_Log (rec_id, alert_type, alert_msg, check_status, alert_regdate)
        VALUES (#{recId}, #{alertType}, #{alertMsg}, 'N', NOW())
    </insert>

    <select id="getAlerts" resultType="edu.sm.app.dto.AlertLog">
        SELECT
            a.alert_id AS alertId,
            a.rec_id AS recId,
            a.alert_type AS alertType,
            a.alert_msg AS alertMsg,
            a.check_status AS checkStatus,
            a.alert_regdate AS alertRegdate,
            r.rec_name AS recipientName,
            r.rec_kiosk_code AS kioskCode
        FROM Alert_Log a  LEFT JOIN care_recipient r ON a.rec_id = r.rec_id
        ORDER BY a.alert_regdate DESC
    </select>

    <update id="updateCheckStatus">
        UPDATE Alert_Log
        SET check_status = #{checkStatus}
        WHERE alert_id = #{alertId}
    </update>

</mapper>