<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.app.repository.CareRecipientRepository">

    <select id="select" parameterType="Integer" resultType="CareRecipient">
        SELECT *
        FROM care_recipient
        WHERE rec_id = #{recId} AND is_deleted = 'N'
    </select>

    <select id="selectAll" resultType="CareRecipient">
        SELECT *
        FROM care_recipient
        WHERE is_deleted = 'N'
    </select>

    <select id="selectByCustId" parameterType="Integer" resultType="CareRecipient">
        SELECT *
        FROM care_recipient
        WHERE cust_id = #{custId} AND is_deleted = 'N'
    </select>

    <insert id="insert" parameterType="CareRecipient" useGeneratedKeys="true" keyProperty="recId">
        INSERT INTO care_recipient (
            rec_type_code, cust_id, rec_name, rec_birthday, rec_gender,
            rec_kiosk_code, rec_address, rec_photo_url, rec_med_history,
            rec_allergies, rec_spec_notes, is_deleted, rec_regdate, rec_update, rec_health_needs
        )
        VALUES (
            #{recTypeCode}, #{custId}, #{recName}, #{recBirthday}, #{recGender},
            #{recKioskCode}, #{recAddress}, #{recPhotoUrl}, #{recMedHistory},
            #{recAllergies}, #{recSpecNotes}, 'N', NOW(), NOW(), #{recHealthNeeds}
        )
    </insert>

    <update id="update" parameterType="CareRecipient">
        UPDATE care_recipient SET
        <if test="recTypeCode != null and !recTypeCode.equals('')">
            rec_type_code=#{recTypeCode},
        </if>
        <if test="custId != null">
            cust_id=#{custId},
        </if>
        <if test="recName != null and !recName.equals('')">
            rec_name=#{recName},
        </if>
        <if test="recBirthday != null">
            rec_birthday=#{recBirthday},
        </if>
        <if test="recGender != null and !recGender.equals('')">
            rec_gender=#{recGender},
        </if>
        <if test="recKioskCode != null">
            rec_kiosk_code=#{recKioskCode},
        </if>
        <if test="recAddress != null and !recAddress.equals('')">
            rec_address=#{recAddress},
        </if>
        <if test="recPhotoUrl != null">
            rec_photo_url=#{recPhotoUrl},
        </if>
        <if test="recMedHistory != null">
            rec_med_history=#{recMedHistory},
        </if>
        <if test="recAllergies != null">
            rec_allergies=#{recAllergies},
        </if>
        <if test="recSpecNotes != null">
            rec_spec_notes=#{recSpecNotes},
        </if>
        <if test="recHealthNeeds != null">
            rec_health_needs=#{recHealthNeeds},
        </if>
        <if test="isDeleted != null and !isDeleted.equals('')">
            is_deleted=#{isDeleted},
        </if>
        rec_update=NOW() WHERE rec_id=#{recId}
    </update>

    <delete id="delete" parameterType="Integer">
        UPDATE care_recipient SET is_deleted='Y', rec_update=NOW() WHERE rec_id=#{recId}
    </delete>

</mapper>

