spring:
  application:
    name: demo1
  mvc:
    view:
      prefix: /views/
      suffix: .jsp
  web:
    resources:
      static-locations: classpath:/static/

server:
  port: 8083
  servlet:
    context-path: /
    jsp:
      init-parameters:
        development: true

logging:
  level:
    root: INFO
    com: DEBUG

